.card {
	display: grid;
	grid-template-areas:
		"img img img img img img img img img img img img"
		"img img img img img img img img img img img img"
		"img img img img img img img img img img img img"
		"img img img img img img img img img img img img"
		"img img img img img img img img img img img img"
		"img img img img img img img img img img img img"
		"name name name name name name name name name name name name"
		"title title title title title title title title title title title title"
		"discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp"
		"discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp"
		"discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp discrp"
		"pric pric pric pric pric pric pric pric pric pric pric pric";
	/*grid-template-columns: 274px;
		grid-template-rows: repeat(10, autofit());*/
	width: 272px;
	height: 420px;
	border: 1px solid #c9c9c9;
	padding: 4px;
	.card-img {
		max-width: 270px;
		grid-area: img;
		/*grid-column: 1 / -1;
			grid-row: 1/5;*/
		img {
			width: 100%;
		}
	}
	.tutor-name {
		grid-area: name;
		/*
			grid-column: 1 /-1;
			grid-row: 5/6;*/
		font-family: Poppins-Medium;
		color: #1aa3d0;
		font-size: 11px;
		display: flex;
		justify-content: space-between;
	}
	.card-title {
		grid-area: title;

		/*
			grid-column: 1 /-1;
			grid-row: 6/7;*/
		span {
			font-family: Poppins-bold;
			font-size: 16px;
			color: #444;
		}
	}
	.card-discription {
		grid-area: discrp;
		/*
			grid-column: 1 /-1;
			grid-row: 7/9;*/
		span {
			font-family: Poppins-light;
			font-size: 11px;

			color: #444;
		}
	}
	.price-tag {
		grid-area: pric;
		/*
			grid-column: 1 /-1;
			grid-row: 9/10;*/

		display: flex;
		justify-content: space-between;
		.price {
			font-family: Poppins-Bold;
			color: #1aa3d0;
			font-size: 24px;
			justify-self: start;
		}
		.icons {
			width: 100px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}
.owl-item.active:first-child {
	display: none;
}
