.border-bottom {
	margin-top: 50px;
	margin-bottom: 5px;
	color: #222;
	border-bottom: 1px solid #cccccc;
	position: relative;
	font-size: 18px;
	padding-bottom: 14px;
	text-transform: capitalize;
	font-weight: 100;
	h1 {
		font-family: Poppins-SemiBold !important;
	}
}
.border-bottom::before {
	content: "";
	position: absolute;
	background-color: #ff5d5d;
	width: 77px;
	height: 6px;
	bottom: -3px;
	left: 0;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 500px;
	grid-gap: 10px;
	align-items: center;
	font-weight: 600;
}
